:root {
    --grafite: #515151;
}

.loading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    font-family: sans-serif;
    font-size: 18px;
    color: var(--grafite);
    margin-bottom: 40px;
    font-weight: bold;
    
}